<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>
    <title>Maps</title>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}

    <h1>Maps</h1>
    <br>
    <div class="container">
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#elections">
                Election Maps
              </a>
            </div>
            <div id="elections" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ url_for('map', year = 2016) }}" alt="Home">2016</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ url_for('map', year = 2012) }}" alt="Home">2012</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ url_for('map', year = 2008) }}" alt="Home">2008</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ url_for('map', year = 2004) }}" alt="Home">2004</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ url_for('map', year = 2000) }}" alt="Home">2000</a>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
              Collapsible Group Item #2
            </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                Collapsible Group Item #3
              </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
          </div>
        </div>
      </div>
    
    {% endblock %}
</body>

</html>