<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Tuttlepower</title>
    <meta name="author" content="Travis" />
    <meta name="description" content="Home page Tuttlepower with other example project links" />
    <meta name="keywords" content="Economics,Maps" />
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>
    <link rel="icon"
        href="https://raw.githubusercontent.com/tuttlepower/tuttlepower/master/Resources/Images/facelighting.png"
        type="Head" sizes="16x16">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../static/css/template.css" />

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:600|PT+Sans:700|Tinos:700i&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-custom sticky-top justify-content-center">
        <ul class="navbar-nav ">
            <div class="rounded-social-buttons">
                <a class="navbar-brand social-button dice" href="{{ url_for('home') }}" alt="Home">
                    <i class="fas fa-dice"></i></a>
                <a class="navbar-brand social-button dice" href="#" alt="Maps">
                    <i class="fas fa-globe"></i></a>
                <a class="navbar-brand social-button dice" href="#" alt="Charts">
                    <i class="fas fa-chart-line"></i></a>
                <a class="navbar-brand social-button dice" href="{{ url_for('about') }}" alt="About Me">
                    <i class="fas fa-user-alt"></i></a>
                <!-- <a class="social-button medium" href="https://medium.com/@travistuttle" alt="Medium"><i
                        class="fab fa-medium-m"></i></a>
                <a class="social-button twitter" href="https://twitter.com/TuttlePower" alt="Twitter"><i
                        class="fab fa-twitter"></i></a>
                <a class="social-button linkedin" href="https://www.linkedin.com/in/travistuttle/" alt="linkedin"><i
                        class="fab fa-linkedin-in"></i></a>
                 <a class="social-button instagram" href="https://www.instagram.com/tuttle_power/" alt="instagram"><i
                        class="fab fa-instagram"></i></a>
                <a class="social-button facebook" href="https://www.facebook.com/Travie.Trav2015" alt="Facebook"><i
                        class="fab fa-facebook-f"></i></a>
                <a class="social-button github" href="https://github.com/tuttlepower" alt="github"><i
                        class="fab fa-github"></i></a> -->
            </div>
        </ul>
    </nav>
    <div class="text-align-center">
        <p>Texsalksdsgjlkfjldkaskdsjflijhdlf</p>
    </div>

    <footer class="footer text-center">
        <div class="container text-center">
          <span class="text-muted text-center justify-content-center">Place sticky footer content here.</span>
        </div>
      </footer>
</body>

<script src="Resources/js\app.js"></script>